<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pagina-ver-cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="grid-container">
    <ion-card class="custom-card">
      <img class="imagen-producto" alt="Imagen del producto" src="./../../assets/images/duoc_uc_logo.png" />
      <ion-card-header>
        <ion-card-title>Curso 1</ion-card-title>
        <ion-card-subtitle>Seccion 1</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        curos de algo que deberia poner una descripcion larga de algo que deberia hablar extensibamente aqui por razones desconocidas para mi.
      </ion-card-content>
      <ion-button (click)="irCurso()" class="boton-compra">Ingresar</ion-button>
    </ion-card>
  </div>

</ion-content>
