.boton-compra {
    width: 100%;
  }
  
  .imagen-producto {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina los márgenes por defecto que puede tener la imagen */
    margin-left: auto; /* Centra la imagen en el eje horizontal */
    margin-right: auto; /* Centra la imagen en el eje horizontal */
  }
  
  .custom-card {
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    margin: 16px 0; /* Añade espacio vertical entre las cards */
    border-radius: 12px; /* Opcional: bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra */
  }
  
  ion-list {
    display: flex;
    flex-direction: column; /* Asegura que los items estén en columna */
    align-items: center; /* Centra los cards */
    padding: 0; /* Quita padding extra */
  }
  
  .grid-container {
    padding: 16px; /* Espaciado interno */
  }
  
  ion-col {
    padding: 8px; /* Espaciado interno entre columnas */
  }
  