<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pagina-asistencia</ion-title>
    <ion-button (click)="redirigirQr()">Qr asistencia</ion-button>
    <ion-button>redireccion 2</ion-button>
    <ion-button>redireccion 3</ion-button>
    <ion-button>redireccion 4</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pagina-asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
