
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button style="width: 200px; height: 50px" (click)="redirigirQr()">Qr asistencia</ion-button><br>
    <ion-button style="width: 200px; height: 50px" (click)="redirigirAnuncio()">crear anuncio</ion-button><br>
    <ion-button style="width: 200px; height: 50px" (click)="redirigirJustificar()">justificar asistencia</ion-button><br>
    <ion-button style="width: 200px; height: 50px" (click)="redirigirBitacora()">bitacora curso</ion-button><br>
    <ion-button style="width: 200px; height: 50px" (click)="redirigirVerCursos()">volver</ion-button><br>
  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      Pagina asistencia de curso (VAR)
    </ion-toolbar>

  
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list *ngFor="let dato of asistencias">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-col-custom" >{{dato.nombreAlumno}}</ion-col>

          <ion-col class="ion-col-custom" *ngIf="dato.asiste == false">ausente</ion-col>
          <ion-col class="ion-col-custom" *ngIf="dato.asiste == true">presente</ion-col>
          

          <ion-col class="ion-col-presente"  style="color:green;" (click)="asistenciaTrue(dato.clase, dato.idAlumno, dato.nombreAlumno, dato.id)" *ngIf="dato.asiste == false">poner presente</ion-col>
          <ion-col class="ion-col-ausente"  style="color:red" (click)="asistenciaFalse(dato.clase, dato.idAlumno, dato.nombreAlumno, dato.id)" *ngIf="dato.asiste == true">poner ausente</ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
</div>