.ion-col-custom {
    background-color: #a49fd5;
    border: solid 1px #080c35;
    color: #fff;
    text-align: center;
}

.ion-col-presente {
    background-color: #76ff89;
    border: solid 1px #8187d1;
    color: #fff;
    text-align: center;
}

.ion-col-ausente {
    background-color: #ed7676;
    border: solid 1px #757dd1;
    color: #fff;
    text-align: center;
}