.qrcode {
    display: flex;               /* Mantén la configuración de Flexbox si es necesario */
    justify-content: center;     /* Centra la imagen horizontalmente */
    align-items: center;         /* Centra la imagen verticalmente */
    padding: 20px;               /* Espaciado interno para la imagen */
    border-radius: 12px;
}


.ion-col-custom {
    background-color: #170998;
    border: solid 1px #080c35;
    color: #fff;
    text-align: center;
}