<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bitacora-seccion</ion-title>
    <ion-button (click)="redirigirAsistencia()">Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">bitacora-seccion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-textarea fill="outline" style="height:70%; width:90%; margin: 20px; padding: 20px">
    bitacora de curso
  </ion-textarea>

  <br>
  <ion-button>Ingresar</ion-button>
  <br>
</ion-content>

